@page
@model SupermarketWEB.Pages.Customers.DeleteModel

@{
    ViewData["Title"] = "Eliminar Cliente";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h2 class="text-center mb-0">Eliminar Cliente</h2>
                </div>
                <div class="card-body">
                    <h3 class="text-center">¿Está seguro de que desea eliminar este cliente?</h3>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            Número de Documento
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Customer.Document_Number)
                        </dd>
                        <dt class="col-sm-2">
                            Nombre
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Customer.First_Name)
                        </dd>
                        <dt class="col-sm-2">
                            Apellido
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Customer.Last_Name)
                        </dd>
                        <dt class="col-sm-2">
                            Dirección
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Customer.Address)
                        </dd>
                        <dt class="col-sm-2">
                            Fecha de Nacimiento
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Customer.Birth_Day)
                        </dd>
                        <dt class="col-sm-2">
                            Número de Teléfono
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Customer.Phone_Number)
                        </dd>
                        <dt class="col-sm-2">
                            Correo Electrónico
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Customer.Email)
                        </dd>
                    </dl>
                    <form method="post">
                        <input type="hidden" asp-for="Customer.Id" />
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                            <a asp-page="./Index" class="btn btn-secondary">Volver a la Lista</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
