@page
@model SupermarketWEB.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Customers";
}

<div class="container mt-4">
    <h1 class="text-center font-weight-bold">Clientes</h1>
    <p class="text-center">
        <a asp-page="Create" class="btn btn-primary">Crear Nuevo Cliente</a>
    </p>

    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="table-light">
                <tr>
                    <th class="font-weight-bold">Número de Documento</th>
                    <th class="font-weight-bold">Nombre</th>
                    <th class="font-weight-bold">Apellido</th>
                    <th class="font-weight-bold">Número de Teléfono</th>
                    <th class="font-weight-bold">Correo Electrónico</th>
                    <th class="font-weight-bold">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Customers)
                {
                    <tr>
                        <td>@item.Document_Number</td>
                        <td>@item.First_Name</td>
                        <td>@item.Last_Name</td>
                        <td>@item.Phone_Number</td>
                        <td>@item.Email</td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
